body {
	background-color: #b7b7b7;
}
.container {
	width: 1020px;
	margin: auto;
	padding: 100px 0 0 0;
}

h2{
	font-size: 22px;
	text-align: center;
	font-family: arial;
	font-weight: normal;
	padding: 80px, 0 0 0;
}	
.green a {
	color: #d33747;
}
.indent {
	margin: 0 0 0 5%;
}
a {
color: #d33747;
text-decoration:none;

}

.centering {
    display: block;
    text-align: center;
    padding: 0 0 50px 0;

}